[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Openbox Window Manager
GenericName=openbox 3.5.0
Comment=Launch the openbox window manager
Icon=archlinux-wm-openbox
TryExec=/usr/bin/openbox
Exec=openbox
Terminal=false
Categories=WindowManager;Application;System
StartupNotify=false
